{# Archive #}

{% extends "layouts/base.twig" %}

{% block content %}
	<div class="cnp-archive">
		<header class="cnp-archive__header">
			<h1 class="cnp-archive__title">{{ archive_title|default(__('Archive', 'canopy')) }}</h1>
		</header>

		{% if posts %}
			<div class="cnp-archive__list">
				{% for post in posts %}
					<article class="cnp-archive__item">
						<h2 class="cnp-archive__item-title">
							<a href="{{ post.link }}">{{ post.title }}</a>
						</h2>
						<p class="cnp-archive__item-excerpt">{{ post.excerpt }}</p>
						<a href="{{ post.link }}" class="cnp-archive__item-link">{{ __('Read more →', 'canopy') }}</a>
					</article>
				{% endfor %}
			</div>

			{% include 'partials/pagination.twig' %}
		{% endif %}
	</div>
{% endblock %}
